* {
    margin: 0;
}

.app{
    background-color: #fafafa;
    height: 100vh;
}

.app-header {
    background-color: #fff;
    object-fit: contain;
    padding: 15px;
    border: 1px solid lightgray;
}

.container {
    width: 935px;
    margin: 0 auto;
}
